/* TUDO */
*{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    user-select: none;
}
html{
    overflow-y: hidden;
}
body{
    background-color: #E5E5E5;
}

/* Acesso */
.container-login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.logo-login img{
    width: 7em;
}
.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 70%;
}
.form-login input{
    text-align: center;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 100%;
    height: 2.75em;
}
.form-login  button{
    width: 40%;
    height: 2.5em;
    background: #E7E7E7;
    border-radius: 9px;
    border: 1px solid #D7D7D7;
}

/* Superior */
.container-superior{
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.05);
}
.logo{
    position: absolute;
    width: 75px;
    height: 53px;
    left: 22px;
    top: 16px;
    cursor: pointer;
}
.person{
    position: absolute;
    right: 2em;
}
.person img{
    cursor: pointer;
}

/* Principal */
.container-principal{
    margin-bottom: 5em;
    margin-top: 1.2em;
    display: flex;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 15em);
    background-color: transparent;
}
.msg-list{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 0.25em;
    width: 100%;
    
}
.msg-access{
    gap: 1em;
    padding: 0.75em;
    box-sizing: border-box;
    display: flex;
    background-color: #DCDCDC;
    border-radius: 2px;
    border: 0.2px solid rgba(128, 128, 128, 0.204);
}
.msg-message{
    gap: 1em;
    padding: 0.75em;
    box-sizing: border-box;
    display: flex;
    background-color: #DCDCDC;
    border-radius: 2px;
    border: 0.2px solid rgba(128, 128, 128, 0.204);
}
.msg-private{
    gap: 1em;
    display: flex;
    box-sizing: border-box;
    padding: 0.75em;
    background-color: #FFDEDE;
    border-radius: 2px;
    border: 0.2px solid rgba(128, 128, 128, 0.204);
}

.msg-input input{
    font-style: italic;
    width: 100%;
    box-sizing: border-box;
    height: 100%;

  }
.aviao{
    position: absolute;
    right: 1em;
    bottom: 1.4em;
    z-index: 1000;
}
.aviao ion-icon{
    font-size: 25px;
    color: black;
    cursor: pointer;
}
  

/* GRID */
grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    background-color: #b50000;
    }
    
    
.footer {
    position: fixed;
    bottom: 0;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5em;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
    
.msg-input {
    flex: 1;
    height: 5em;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Esconder a sidebar inicialmente */
    width: 250px;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease-in-out; /* Adicionar uma transição suave */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1.5em;
}
.contato{
    margin-left: 2em;
    cursor: pointer;
}
.contato img{
    width: 1.4em;
    margin-right: 0.4em;
}
.titulo-sidebar{
    padding: 2em;
    text-align: center;
    
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; /* esconder por padrão */
}
  